.main-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #2A5470, #4C4177);
    overflow-x: hidden;
}

.middle-div {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.20), 0 5px 40px rgba(0, 0, 0, 0.20);
}

.middle-div .title {
    margin-bottom: 30px;
    font-size: 34px;
}

/* smaller device style */
@media only screen and (max-width: 767px) {

    .middle-div {
        width: 80%;
        padding: 20px;
    }
}

/* large device style */
@media only screen and (min-width: 768px) {

    .middle-div {
        width: 40%;
        padding: 40px;
    }
}